name: Deploy
on:
  push:
    branches:
      - master
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            export FNM_PATH="/home/${{ secrets.VPS_USERNAME }}/.local/share/fnm"
            export PATH="/home/${{ secrets.VPS_USERNAME }}/.local/share/fnm:$PATH"
            eval "`fnm env`"

            cd ${{ secrets.VPS_ROOT_FOLDER }}
            git pull origin master

            php artisan optimize:clear
            php artisan view:clear
            php artisan icons:clear

            npm install
            composer install
            npm run build

            php artisan optimize
            php artisan view:cache
            php artisan icons:cache

            php -r 'opcache_reset();'

            echo ${{ secrets.USERPWD }} | sudo -S systemctl restart nginx.service
            echo ${{ secrets.USERPWD }} | sudo -S systemctl restart php8.5-fpm.service
